#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Allo
Exec=/opt/GoogleAllo/google-allo
Icon=/opt/GoogleAllo/resources/app/icon.png
